# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# C extensions
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# FAISS index folder
ctse_faiss_min_index/

# VS Code settings
.vscode/

# Python virtual environment
env/
venv/
ENV/
.venv/

# Jupyter notebook runtime files
*.nbconvert.ipynb

# System files
.DS_Store
Thumbs.db

# Log files
*.log

# Text editor backup files
*~
*.swp
*.bak
*.tmp

# PyCharm specific
.idea/

# Other unwanted files
*.zip
*.tar
*.tar.gz
